.filters {
  margin-top: 115px;

  @include response-to(large) {
    margin-top: 80px;
  }

  @include response-to(small) {
    margin-top: 40px;
  }

  &:before,
  &:after {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    content: '';
    width: calc((100vw - 100%) / 2);
  }

  &:before {
    left: calc((100vw - 100%) / -2);
    background-image: linear-gradient(90deg, rgba(#000, .9) 35%, rgba(#000, 0));
  }

  &:after {
    right: calc((100vw - 100%) / -2);
    background-image: linear-gradient(270deg, rgba(#000, .9) 35%, rgba(#000, 0));
  }

  .slick-list {
    overflow: unset;
  }

  &__item {
    border: 1px solid #fff;
    border-radius: 100px;
    width: 290px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 14px 13px 13px;
    background-color: #000;

    @include response-to(huge) {
      width: 250px;
    }

    @include response-to(large) {
      width: 200px;
    }

    &:not(:last-of-type) {
      margin-right: 25px;
    }

    &.active,
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &-select {

    @media(min-width: 767px) {
      display: none!important;
    }
  }
}

.filter-icon {

  circle {
    fill: #fff;
  }

  &.active {

    circle {
      fill: $primary-color;
    }
  }
}