.footer {
  padding-bottom: 45px;
  padding-top: 119px;
  border-top: 1px solid #fff;

  &__bottom {
    margin-top: 142px;
  }

  &__item {
    max-width: 257px;

    &_caption {
      margin-bottom: 25px;
    }
  }

  #footer-menu a,
  &__item_link {
    display: block;
    width: fit-content;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 25px;
    position: relative;

    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      bottom: 0;
      height: 1px;
      background-color: #fff;
      transition: all ease .3s;
      max-width: 0;
      width: 100%;
    }

    &:hover {

      &:before {
        max-width: 100%;
      }
    }
  }

  #footer-menu {
    li {
      width: 100%;
    }
  }
}