.header {
  backdrop-filter: blur(50px);
  padding: 24px 0 30px;
  position: fixed;
  top: 0;
  left: 0;

  @include response-to(large) {
    padding: 35px 0 31px;
  }

  @include response-to(medium) {
    padding-top: 38px;
    padding-bottom: 26px;
  }

  @include response-to(small) {
    margin-bottom: 60px;
  }

  &.active {

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      backdrop-filter: blur(8px);
      background: rgba(255, 255, 255, .01);
      z-index: 99;
    }
  }

  &__logo {

    @include response-to(large) {
      max-width: 85px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &__menu {
    flex: 0 0 58.4%;

    @include response-to(large) {
      flex: 0 0 50%;
    }
  }

  .purple-button {
    width: 314px;
    margin-right: 15px;

    @include response-to(large) {
      width: 240px;
      margin-right: 29px;
      font-size: 16px;
      line-height: 22px;
      margin-left: auto;
    }

    &_inner {
      padding: 17px 0;
      font-size: 23.55px;
      line-height: 32px;

      @include response-to(large) {
        padding: 17px 0 15px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__langs {

    &_item {
      letter-spacing: 0.06em;

      &:first-of-type {

        &:before {
          cursor: default;
          top: 50%;
          transform: translateY(-50%);
          right: -8px;
          position: absolute;
          content: '';
          background-color: #fff;
          display: block;
          width: 1px;
          height: 15px;

          @include response-to(large) {
            right: -4px;
          }
        }
      }

      &:after {
        background-image: url('../../img/triangle.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
        content: '';
        height: 8px;
        width: 21px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        @include response-to(medium) {
          background-image: url('../../img/mob-triangle.svg');
        }
      }

      &.active {
        font-weight: 700;
        color: #B000DB;

        &:after {
          display: block;
        }

        .header__langs_item-img {
          display: block;
        }
      }
    }
  }

  &__mob-wrap {

    @include response-to(medium) {
      position: fixed;
      left: 0;
      width: 100vw;
      overflow: hidden;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: -1;

      .header__mob-container {
        transform: translateX(100vw);
        transition: all linear .3s;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 310px;
        background-color: $primary-color;
        padding: 38px 33px 55px;
        height: 100%;
        overflow-y: scroll;

        @include response-to(small) {
          padding: 38px 33px 7vh;
        }
      }

      .header__langs {
        order: 1;
        justify-content: flex-start;
        margin-bottom: 48px;

        @media(max-height: 630px) {
          margin-bottom: 30px;
        }

        &_item {

          &.active {
            color: #000;
          }
        }
      }

      .header__menu {
        order: 2;
        margin-bottom: 35px;

        @media(max-height: 630px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__social {

    &_item {
      margin-right: 22px;
      display: inline-block;

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}

.mob-menu-btn {
  width: 42px;
  height: 18px;
  position: fixed;
  z-index: 100;
  top: 42px;
  right: 37px;

  &__inner,
  &:before,
  &:after {
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include transition-ease;
    content: '';
    height: 3px;
    background-color: #fff;
  }

  &__inner {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.active {

    .mob-menu-btn__inner {
      width: 0;
    }

    &:before {
      top: -7px;
      transform: rotate(315deg) translate(-50%, -50%);
    }

    &:after {
      bottom: -7px;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}

.header__mob-wrap {

  &.active {
    z-index: 100;
    overflow: auto;

    & .header__mob-container {
      transform: translateX(0);
    }
  }
}

.mob-menu-bg {

  &.active {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, .01);
    z-index: 99;
  }
}