.modal {
  z-index: -100;
  opacity: 0;
  height: 100vh;
  padding: 150px 0;
  overflow-y: scroll;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, .01);

  &.active {
    z-index: 1000;
    opacity: 1;
  }

  .close {
    top: 46px;
    right: 33px;
    width: 35px;
    height: 35px;

    @include response-to(medium) {
      width: 21px;
      height: 21px;
      top: 30px;
      right: 35px;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      left: 50%;
      top: 50%;
      background-color: #000;
      height: 2px;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }

  &-window {
    height: max-content;
    background-image: linear-gradient(180deg, rgba(176, 0, 219, 0) 39.58%, rgba(176, 0, 219, 0.12) 100%);

    &.work-offer {
      max-width: 760px;
      padding: 100px 66px 129px;

      @include response-to(small) {
        max-width: 95vw;
        padding: 60px 37px 18px;
      }

      .modal-window__title {
        margin-bottom: 40px;

        @include response-to(medium) {
          margin-bottom: 30px;
        }
      }
    }

    &.case-modal {
      max-width: 1040px;
      padding: 66px 60px 65px;

      @include response-to(large) {
        max-width: 95vw;
      }

      @include response-to(medium) {
        padding: 60px 37px 80px;
      }

      .modal-window__title {
        margin-bottom: 50px;

        @include response-to(medium) {
          margin-bottom: 40px;
        }
      }

      .modal-window__text {

        @include response-to(medium) {
          margin-bottom: 60px;
        }
      }

      @include response-to(small) {

        .modal-window__form {
          margin-top: 46px;

          &_field {
            margin-bottom: 31px;

            &:last-of-type {
              margin-bottom: 60px;
            }
          }

          &_label {
            display: none;
          }

          &_input {
            background-color: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 9px 0;
            
            &::placeholder {
              color: #8F8F8F;
            }
          }
        }
      }
    }

    &__text {
      margin-bottom: 32px;
    }

    &__form {
      max-width: 560px;

      &_field {
        margin-bottom: 20px;

        @include response-to(small) {
          margin-bottom: 18px;
        }

        &.radio {
          margin-bottom: 50px;

          @include response-to(small) {
            margin-bottom: 10px;
          }

          input {
            display: none;

            &:checked + span {

              &:before {
                content: '';
              }
            }
          }

          label {

            &:not(:last-of-type) {
              margin-right: 30px;
            }

            @include response-to(small) {
              margin-bottom: 20px;
            }

            span {
              padding-left: 30px;

              &.error {
                padding-left: 0;
                white-space: nowrap;
                top: 110%;

                &:before,
                &:after {
                  content: none;
                }
              }

              &:after,
              &:before {
                position: absolute;
                transform: translateY(-50%);
                display: block;
                top: 50%;
                border-radius: 50%;
              }

              &:after {
                content: '';
                left: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #313131;
              }

              &:before {
                left: 4px;
                background-color: $primary-color;
                width: 12px;
                height: 12px;
              }
            }
          }
        }

        span.error {
          position: absolute;
          left: 20px;
          bottom: 2px;
          font-size: 14px;
          line-height: 120%;
          color: red;
        }
      }

      &_input {
        border: 1px solid #000;
        padding: 18px 20px;
        margin-top: 7px;
        resize: vertical;

        &.error {
          border-color: red;
        }

        &.success {
          border-color: green;
        }

        @include response-to(small) {
          margin-top: 5px;
          padding: 12px 13px 11px;
        }

        &::placeholder {
          font-family: 'Manrope', sans-serif;
          color: #D8D8D8;
          font-weight: 400;
          font-size: inherit;
          line-height: inherit;
        }
      }

      &_note {
        font-size: 14px;
        line-height: 19px;
        margin-top: 23px;
        max-width: 340px;
      }

      .purple-button {
        width: 300px;
      }

      textarea {
        height: 140px;
      }
    }

    &__case-img {
      height: 330px;
      background-size: cover;
      background-position: center;

      @include response-to(medium) {
        height: 300px;
        border-radius: 23.5px;
      }
    }
  }
}

.stats {
  padding: 0 26px;
  margin-top: -97px;
  margin-bottom: 80px;

  @include response-to(small) {
    margin-top: -89px;
    padding: 0;
  }

  &__item {
    max-width: 245px;

    @include response-to(medium) {
      max-width: 223px;
    }

    @include response-to(small) {
      margin-left: auto;
      margin-right: auto;

      &:not(:last-of-type) {
        margin-bottom: 78px;
      }
    }

    &_num {
      width: 170px;
      height: 170px;
      margin-bottom: 25px;
      box-shadow: -6px 43px 17px rgba(80, 0, 102, 0.01), -3px 24px 15px rgba(80, 0, 102, 0.05), -1px 11px 11px rgba(80, 0, 102, 0.09), 0px 3px 6px rgba(80, 0, 102, 0.1), 0px 0px 0px rgba(80, 0, 102, 0.1);

      @include response-to(medium) {
        width: 155px;
        height: 155px;
        font-size: 60px;
        margin-bottom: 22px;
      }
    }
  }
}