.container {
  max-width: $container;
  margin: 0 auto;
  width: 100%;

  @include response-to(huge) {
    padding-left: 42px;
    padding-right: 42px;
  }

  @include response-to(medium) {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.no-scrolling {
  overflow: hidden;
}

body.admin-bar .header{
  top:32px;

  @include response-to(small) {
    top: 0;
  }
}
