.about-page {
  margin-bottom: 224px;
  background-image: url('../../img/about-bg-answer.svg');
  background-repeat: no-repeat;
  background-size: 1214px;
  background-position: center 180px;

  @include response-to(large) {
    margin-bottom: 262px;
  }

  @include response-to(medium) {
    background-image: none;
  }

  &__content {
    margin-top: 115px;
    margin-bottom: 130px;
    max-width: 1160px;

    @include response-to(large) {
      margin-top: 80px;
      margin-bottom: 100px;
    }

    @include response-to(small) {
      margin-top: 40px;
      margin-bottom: 192px;
    }

    &_center {
      margin-top: 144px;
      margin-bottom: 168px;

      @include response-to(large) {
        margin-top: 170px;
        margin-bottom: 150px;
      }

      @include response-to(medium) {
        margin-bottom: 50px;
      }

      @include response-to(small) {
        margin-top: 94px;
        margin-bottom: 0;
      }
    }

    &_quote {
      padding-left: 130px;
      flex: 0 0 654px;

      @include response-to(large) {
        padding-left: 100px;
      }

      @include response-to(small) {
        padding-left: 60px;
        margin-bottom: 95px;
      }

      &:before,
      &:after {
        position: absolute;
        color: $primary-color;
        letter-spacing: 0.01em;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 251px;
        line-height: 109%;

        @include response-to(small) {
          font-size: 133.643px;
        }
      }

      &:before {
        content: '”';
        left: 0;
        top: -100px;

        @include response-to(small) {
          top: -54px;
        }
      }

      &:after {
        content: '“';
        right: 0;
        bottom: -220px;

        @include response-to(large) {
          right: 50px;
        }

        @include response-to(small) {
          right: -4px;
          top: calc(100% - 4px);
        }
      }
    }

    &_side-text {
      flex: 0 0 40%;
      margin-right: 60px;

      @include response-to(medium) {
        margin-right: 0;
        margin-top: 95px;
      }
    }
  }

  &__photos {
    margin-bottom: 180px;

    @include response-to(large) {
      margin-bottom: 150px;
    }

    @include response-to(small) {
      margin-bottom: 246px;
    }

    &_item {

      &:nth-of-type(2) {
        margin-left: auto;
        margin-right: auto;

        @include response-to(large) {
          max-width: 590px;
        }

        @include response-to(small) {
          width: 100%;
          max-width: 280px;
          transform: rotate(7.2deg);
        }

        .about-page__photos_img {
          box-shadow: 0 5px 103px #000000;
          animation-name: about-soaring-2;
          animation-duration: 60s;
          max-height: 820px;
          max-width: 554px;
        }
      }

      &:first-of-type,
      &:last-of-type {
        max-height: 83%;
        height: 100%;

        @include response-to(small) {
          width: 160px;
          height: 160px;
        }

        .about-page__photos_img {

          &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            filter: blur(4px);
            background: linear-gradient(0deg, rgba(62, 3, 77, 0.3), rgba(62, 3, 77, 0.3));
          }
        }
      }

      &:first-of-type {
        left: 140px;
        top: 250px;

        @include response-to(large) {
          margin-left: -102px;
        }

        @include response-to(small) {
          margin: 0;
          z-index: 3;
          left: unset;
          right: 0;
          transform: rotate(-8deg);
          top: unset;
          bottom: calc(100% - 24px);
        }

        .about-page__photos_img {
          animation-name: about-soaring-1;
          animation-duration: 60s;
          max-height: 464px;
          max-width: 373px;
        }
      }

      &:last-of-type {
        right: 150px;
        top: 64px;

        @include response-to(large) {
          margin-right: -102px;
        }

        @include response-to(small) {
          margin: 0;
          right: unset;
          left: 0;
          transform: rotate(23deg);
          top: calc(100% - 27px);
        }

        .about-page__photos_img {
          animation-name: about-soaring-3;
          animation-duration: 60s;
          max-height: 563px;
          max-width: 432px;
        }
      }
    }

    &_img {

      img {
        height: auto;
        width: auto;
        max-height: 100%;
      }
    }
  }

  &__virtual-tour {
    margin-bottom: 243px;
    height: 82px;

    @include response-to(large) {
      margin-bottom: 260px;
    }

    @include response-to(small) {
      margin-bottom: 113px;
    }

    .slick-list {
      overflow: unset;
    }

    p {

      &:not(:last-of-type) {
        margin-right: 64px;

        @include response-to(small) {
          margin-right: 22px;
        }
      }
    }
  }

  &__frame {

    @include response-to(medium) {
      width: 100vw;
      margin-left: -37px;
    }

    &_window {
      height: 696px;
      background-color: #aaa;

      @include response-to(large) {
        height: 432px;
      }
    }

    .round-animate-btn {

      @media(min-width: 992px) {
        right: -60px;

        @include response-to(huge) {
          right: 0;
        }
      }
    }
  }
}

@keyframes about-soaring-1 {
  0% {
    transform: translateY(0) translateX(0);
  }

  10% {
    transform: translateY(-1%) translateX(1%);
  }

  20% {
    transform: translateY(4%) translateX(-2%);
  }

  40% {
    transform: translateY(0) translateX(2%);
  }

  60% {
    transform: translateY(6%) translateX(-1%);
  }

  90% {
    transform: translateY(-3%) translateX(1%);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes about-soaring-2 {
  0% {
    transform: translateY(0) translateX(0);
  }

  10% {
    transform: translateY(-2%) translateX(3%);
  }

  20% {
    transform: translateY(-5%) translateX(1%);
  }

  40% {
    transform: translateY(0) translateX(-2%);
  }

  60% {
    transform: translateY(3%) translateX(-5%);
  }

  90% {
    transform: translateY(7%) translateX(2%);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes about-soaring-3 {
  0% {
    transform: translateY(0) translateX(0);
  }

  10% {
    transform: translateY(2%) translateX(-3%);
  }

  20% {
    transform: translateY(4%) translateX(-1%);
  }

  40% {
    transform: translateY(0) translateX(2%);
  }

  60% {
    transform: translateY(-2%) translateX(5%);
  }

  90% {
    transform: translateY(-5%) translateX(1%);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

.wrapper > .answer {
  color: $primary-color;
  position: absolute;
  font-size: 60px;
  line-height: 100.5%;
  letter-spacing: -0.005em;
  font-family: "Tenor Sans", sans-serif;
  @include transition-ease;
  z-index: 0;
  transform-origin: center;
  //animation-iteration-count: ;
  animation-timing-function: linear;
  animation-name: answer-animation;
  animation-duration: 220s;
  opacity: 0;
}

@keyframes answer-animation {
  0% {
    opacity: .5;
    transform: scale(1) translateY(0);
  }

  2% {
    opacity: .2;
    transform: scale(10) translateY(50px);
  }

  3% {
    opacity: .1;
    transform: scale(15) translateY(70px);
  }

  10% {
    opacity: .01;
    transform: scale(50) translateY(100px);

    @include response-to(small) {
      transform: scale(25) translateY(80px);
    }
  }

  100% {
    opacity: 0;
    transform: scale(60) translateY(700px);

    @include response-to(small) {
      transform: scale(40) translateY(8000px);
    }
  }
}