.cases {

  &-page {
    padding-bottom: 84px;

    .case {
      border-radius: 70px 70px 0 0;
      flex: 0 0 31%;
      margin-bottom: 200px;

      &__img {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 563px;
        margin-bottom: 30px;
      }

      &__cat {
        width: 128px;
        height: 128px;
        top: 27px;
        left: 43px;

        &:before {
          position: absolute;
          content: '';
          border-radius: 50%;
          right: -81px;
          bottom: -81px;
          width: 417px;
          height: 417px;
          background-color: rgba($primary-color, .5);
          display: block;
        }

        &_img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .round-animate-btn {
      bottom: -68px;
      right: -50px;

      @include response-to(huge) {
        right: 0;
      }
    }
  }

  &__wrap {

  }
}