.contacts-page {
  margin-bottom: 230px;

  @include response-to(medium) {
    margin-bottom: 118px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-top: 84px;
    margin-bottom: 76px;

    @include response-to(medium) {
      margin-top: 20px;
      margin-bottom: 47px;
      order: 2;
    }

    &_item {

      &:not(:last-of-type) {
        margin-bottom: 13px;

        @include response-to(medium) {
          margin-bottom: 14px;
        }
      }

      a {

        &:before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          bottom: 0;
          height: 1px;
          background-color: #fff;
          transition: all ease .3s;
          max-width: 0;
          width: 100%;
        }

        &:hover {

          &:before {
            max-width: 100%;
          }
        }
      }
    }

    &_icon {
      width: 27px;
      height: 25px;
      margin-right: 20px;

      @include response-to(medium) {
        padding-top: 4px;
      }
    }
  }

  &__map {
    margin-bottom: 50px;

    iframe {
      height: 619px;
    }

    @include response-to(medium) {
      order: 1;
      margin-top: 50px;
      margin-bottom: 0;

      iframe {
        height: 287px;
      }
    }

    .round-animate-btn {
      right: -64px;
      bottom: -141px;
    }
  }

  &__socials {

    @include response-to(medium) {
      order: 3;
    }

    &_item {

      &:not(:last-of-type) {

        @include response-to(medium) {
          margin-bottom: 30px;
        }
      }

      &:before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        bottom: 0;
        height: 1px;
        background-color: $primary-color;
        transition: all ease .3s;
        max-width: 0;
        width: 100%;
      }

      &:not(:last-of-type) {
        margin-right: 50px;
      }

      &:hover {

        &:before {
          max-width: 100%;
        }
      }
    }
  }
}