.home-page {
  background-repeat: no-repeat;
  background-size: 1725px;
  background-image: url('../../img/home-first-bg-img.svg'),
                    url('../../img/home-four-bg-img.svg');
  background-position: left 684px, right 4175px;

  .first-section {
    margin-top: 115px;
    margin-bottom: 38px;

    .page-title {
      margin-bottom: 125px;

      &_s {
        display: inline-block;
        margin-right: 96px;

        span {
          width: 53px;
          height: 66px;
          display: block;
          background-image: url('../../img/page-title-s.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          left: calc(100% + 42px);
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &_bottom {
        margin-left: 235px;
        display: block;
      }
    }

    &__circle {
      width: 1010px;
      height: 1010px;

      &_wrap {
        width: 848px;
        height: 848px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #aaa;
      }

      &_image {
        height: 100%;

        iframe {
          min-width: 100% !important;
          min-height: 100% !important;
        }
      }
    }

    &__left-top-text {
      font-size: 22px;
      line-height: 30px;
      top: -20px;
      right: 0;
      max-width: 431px;
    }

    .round-animate-btn {
      top: -35px;
      left: -4px;
    }

    &__cases {
      bottom: 32px;
      right: 0;
      width: 240px;
      height: 240px;

      background: linear-gradient(56.89deg, rgba(176, 0, 219, 0.7) -33.86%, rgba(176, 0, 219, 0) 64.18%);
      font-size: 34.4828px;
      line-height: 115%;

      &_arr {
        left: 50%;
        transform: translateX(-50%);
        bottom: 31px;
      }
    }

    &__bottom-text {
      margin-top: 112px;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      max-width: 738px;
    }
  }

  .second-section {
    height: 938px;
    margin-bottom: 359px;
  }

  .theses {
    margin-bottom: 532px;

    &__item {
      max-width: calc(50% + 25px);
      width: 100%;
      padding-right: 70px;

      &:before {
        position: absolute;
        top: 2px;
        content: '';
        background-color: $primary-color;
        border-radius: 50%;
        display: block;
        width: 50px;
        height: 50px;
        right: 0;
      }

      &:not(:last-of-type) {
        margin-bottom: 118px;
      }

      &:nth-of-type(odd) {
        padding-left: 70px;
        padding-right: 0;
        text-align: right;
        margin-left: auto;

        &:before {
          left: 0;
          right: unset;
        }

        .theses__item_text {
          padding-left: 50px;
          padding-right: unset;
        }
      }

      &_caption {
        margin-bottom: 53px;
        font-size: 50px;
        line-height: 100.5%;
      }

      &_text {
        padding-right: 50px;
        font-size: 22px;
        line-height: 30px;
      }
    }
  }

  .our-bloggers {
    height: 1427px;

    &__caption {
      top: 347px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__1 {
      width: 500px;
      left: -37px;
      top: 0;
    }

    &__2 {
      width: 453px;
      bottom: 150px;
      left: 275px;
    }

    &__3 {
      width: 453px;
      bottom: 335px;
      right: 174px;
      z-index: 2;
    }

    &__4 {
      z-index: 1;
      width: 341px;
      right: 0;
      top: 153px;
    }
  }
}